<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="login">
      <div class="container">
        <div class="box">
          <h1>Login</h1>
          <h2>Form Authentication</h2>
          <form class="form" id="loginForm" action="#" method="post">
            <label for="email">Email</label>
            <input
              type="email"
              name="email"
              placeholder="truong@gmail.com"
              required
            />
            <label for="password">Password</label>
            <input
              type="password"
              name="password"
              placeholder="*********"
              required
            />
            <button type="submit">Submit</button>
          </form>
          <a class="register-link" href="/signup">Register account</a>
        </div>
      </div>
    </div>
  </body>
  <script src="../static/script.js"></script>
</html>
